/** {
    box-sizing: border-box;
}*/

.alert{
    width: 25em;
}
caption {
    font-size: 1.2rem;
}

table {
    border: 0.1rem solid;
}

.table-dark {
    --bs-table-color: #adb5bd;
}

.form-control {
    border-radius: 0em;
    padding-left: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-left: -0.3em;


}

.form-select {
    border-radius: 0em;
    padding-left: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 2.9em;
}

button.rent, button.customer, button.add {
    padding-left: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 0.85em;
    padding-right: 1.5em;
}
button.customer, button.add {
    padding-right: 1.9em !important;
}

/*Customers*/

table.tab3 {
    width: 50em;
}

.form-control.customer {
    width: 100%;
    padding-left: 0.3em;
    margin-right: -0.5em;

}

.firstname {
    display: inline-block;
    width: 80% !important;
}

button.customer {
    display: inline-block;
    width: 12%;
}

/*Vehicles*/

table.tab1 {
    width: 100em;
}

.form-control.vehicle {
    width: 7em;
}

button.blue {
    font-size: 0.75em;
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    }

.form-select.vehicletype {
    width: 10em;
    --bs-btn-bg: #fff;
    --bs-btn-color: #212529;
    vertical-align: middle;

}

button.add {
    width: 2.5em;
    margin-top: 0.2em;

}

.form-select.rentingcustomer {
    display: inline-block;
    width: 12em;
    --bs-btn-bg: #fff;
    --bs-btn-color: #212529;
}

button.rent {
    display: inline-block;
    width: 3em;
    margin-bottom: 0.1em;
}

button.processing {
    width: 7em;
    padding-right: 1.2em;
}
.text-bg-warning {
    color: #fff!important;
}
/*Bookings*/
table.tab2 {
    width: 70em;
}
